@font-face
{
    font-family: "yoshilettre";
    src : url("lettreyoshi.ttf");
}

@font-face{
    font-family: "mariolettre";
    src : url("lettremario.ttf");
  }

.card
{
    margin-top : 35px;
}

.image
 {
    width: 486px;
    height: 300px;
    }

.card-body

{
    background-color: rgb(20, 194, 20);
}


p
{
    font-family: "mariofont";
    font-size: 20px;
}

