.image
 {
    width: 286px;
    height: 200px;
    }

.card-body

{
    background-color: rgb(20, 194, 20);
}

@font-face
{
    font-family: "mariofont";
    src : url("dryoshiabibi.ttf");
}

p
{
    font-family: "mariofont";
    font-size: 20px;
}