@font-face {
    font-family: "yoshi";
	src: url('dryoshiabibi.ttf');
}

@font-face {
    font-family: "mario";
	src: url('lettremario.ttf');
}

.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.nav-item {
    margin-left: 50px;
}

h1, h2 {
    text-align: center;
    font-family: mario;
    background-color: #12990e;
}

.texte{
    font-family: yoshi;
    background-color: #12990e;
}

img {
    max-width: 100%;
    height: auto;
  }

.card {
    max-width: 100%;
    height: auto; 
    text-align: center;
}

.console {
    background-image: url('babyyoshi.gif'),url('switch2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 78%, auto 100%;
    height: 300px;
}



