@font-face {
    font-family: "yoshi";
	src: url('dryoshiabibi.ttf');
}

.nav-item {
    margin-left: 50px;
}

h1, h2 {
    text-align: center;
}

p{
        font-family: yoshi;
}

img {
    max-width: 100%;
    height: auto;
  }

.card {
    max-width: 100%;
    height: auto;  
}

#switch img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#video {
    position: absolute;
    top: 835px;
    left: 370px;
}