@font-face{
    font-family: "mariofont";
    src : url("lettremario.ttf");
  }
	.navbar-toggler{
    width: 47px;
    height: 34px;
    border:none;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: rgb(253, 203, 109);
    margin-bottom: 5px;
}

.nav-link
{
	font-family: "mariofont";	
	color: rgb(253, 203, 109);
}

.nav-link:hover
{
	color: #12990e;
}

.navbar
{
	background-image:url("bgred.jpg");
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-toggler
{
	color: rgb(253, 203, 109);	
}

.container-fluid
{
	padding-left: 0px;
	padding-right: 0px;
}

.element:hover {
	cursor: pointer;
	}

	.translate {
		transition-property: top;
		-webkit-transition-property: top;
		transition-duration: .5s;
		transition-timing-function: ease-out;
		top: 0;
		position: relative;
		}
		
	.translate:hover {
		top: 30px;
        }
        
.img-circle
{
    padding-left: 30px;
}

