.element:hover {
	cursor: pointer;
	}

	.translate {
		transition-property: top;
		-webkit-transition-property: top;
		transition-duration: .5s;
		transition-timing-function: ease-out;
		top: 0;
		position: relative;
		}
		
	.translate:hover {
		top: 30px;
        }
        
.img-circle
{
    padding-left: 30px;
}

