@font-face{
    font-family: "mariolettre";
    src : url("lettremario.ttf");
  }

@font-face{
    font-family: "yoshilettre";
    src : url("lettreyoshi.ttf");
  }
 
 .wifeyoshi{
    background-image: linear-gradient(67deg, #FF0099 50%, #FF0099 50%, #FF0099 100%);
    background-size: 21.73px 51.19px;
    }

.babyyoshi{
    background-image: linear-gradient(67deg, #2da0ed 50%, #2da0ed 50%, #2da0ed 100%);
    background-size: 21.73px 51.19px;
}

.bowser{
    background-image: linear-gradient(67deg, #ed2d2d 50%, #ed2d2d 50%, #ed2d2d 100%);
    background-size: 21.73px 51.19px;
}

.waluigi{
    background-image: linear-gradient(67deg, #723bad 50%, #723bad 50%, #723bad 100%);
    background-size: 21.73px 51.19px;
}

h1{
    background-image: linear-gradient(135deg, #12990e 50%, #12990e 50%, #12990e 100%);
    background-size: 11.31px 11.31px;
    text-align: center;
    font-family: mariolettre;
}

p{
    font-family: yoshilettre;
    font-size: 20px;
}

.textep{
    margin-top: 15%;
}

.fondcarte{
    background-color: #FF0099;
    padding: 0;
}

.fondcarte2{
    background-color: #2da0ed;
}

.fondcarte3{
    background-color: #ed2d2d;
}

.fondcarte4{
    background-color: #723bad;
}

html body{
    background-color: rgb(253, 203, 109);; 
}

.btn {

    word-wrap: break-word;
    width: 100%;
    height: 35px;
    font-size: 20px;
    border: 2px solid black;
    font-family: "mariolettre";  
}

.slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  
