
@font-face{
    font-family: "mariolettre";
    src : url("polices/lettremario.ttf");
  }
@font-face{
    font-family: "yoshilettre";
    src : url("polices/lettreyoshi.ttf");
  }



/* background */




.back {
	background: url('images/bgred.jpg');
	border: 2px solid black;

}

.container-fluid {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}


html body {
	
	width: 100%;
	cursor: auto;
	background: url('https://ak2.picdn.net/shutterstock/videos/16719202/thumb/1.jpg') no-repeat;
	background-size: cover;
	height: 100%;

}






/* img */
img.Nintendo {

	width: 50%;
	height: 100%;

vertical-align: center;

}

 img.Yoshi {
 
 	margin-bottom: auto;
width: 60%;
min-height: 0;
vertical-align: center;
height: 100%;

}

.play1 {
	margin-top: 5%;
}


/* link */
 .btn a  {
color: white;
text-decoration: none;
cursor: auto;


} 

.yoshi {
	z-index: 1000;
}



.btn a:hover {
	color: white;
text-decoration: none;


}







/* menu */

.border2 {
	
	padding: 0 0 0 0;
	display: none;
	padding-top: 20px;
	font-size: 30px;
	font-family: 'yoshilettre'
	
	
}




 .btn {
	 z-index: 1;
    font-family: 'mariolettre';
	word-wrap: break-word;
	width: 100%;
	height: 200px;	
	border: 2px solid black;
	font-size: 35px;
	white-space: normal;


	

}

.btn-warning {
	z-index: 10;
	color: white !important;
}





 .btn-success {
	background-color: #12990e;
}





/* border */

.border {
	height: 60px;
	width: 100%;
	background: black;
	opacity: 0.8
}






/* text */
.row {
	margin-right: 0px;
	margin-left: 0px;
}


.row.msg {
	padding-bottom: 50px;
	width: 100%;
	
	padding-top: 50px;
	height: 100%;
	font-family: 'yoshilettre';
}

.containerimg{
	background-color: black;
display: flex;
	border: 10px solid black;color: white;

	


	

}

#imgswitch {
	min-height: 0;
	min-width: 0;
}

h2 {

	font-size: 1.9em;
	
}



.nocol {
padding-right: 0px;
	padding-left: 0px;
}

.switch {
	height:100%;
	

	
}

.switch2 {
	height: 100%;
	
}


#box {
display: none;
}



ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu, 
.menu .inner, 
.menu .inner > li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
 
.bouton {

  display: block;
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 20;

  transition: transform 2s ease;
	border-radius: 100%;
	
}
.bouton:before, 
.bouton:after {
  content: '';
  display: block;
  width: 2px;
  height: 30px;

  position: absolute;
  left: 23px;
	top: 9px;
	
}
.bouton:after {
  width: 30px;
  height: 2px;
  left: 9px;
  top: 23px;
}
 
.menu:hover .bouton{
  cursor: pointer;
  transform: rotate(45deg);
}
 
.menu .inner{
	background-color: #12990e;
  display: block;
  width: 48px;
  height: 48px;
 
  padding: 9px;
  transition: width 1s ease, height 1s ease;
	border-radius: 100%;

}
 
.menu:hover .inner{
  width: 700px;
	height: 700px;
	border: 2px solid black;

}
 
.menu .inner > li{
	transition: left .3s ease, top .3s ease;

}
 
.menu:hover .inner > li:nth-child(1){left: 20%;}
.menu:hover .inner > li:nth-child(2){top: 20%;}
.menu:hover .inner > li:nth-child(3){left: 80%;}
.menu:hover .inner > li:nth-child(4){top: 80%;}
 
.menu .fa, 
.menu .inner > li .fa {
  color: #333; 
  font-size:30px;
}
 
.test {
 display: none;
 font-family: 'mariolettre';
 font-size: 1.2em;
 

}

.menu:hover .test {
 display: flex;
 color: white;
 
}

.test2 {
	display: none;
	font-family: 'mariolettre';
	font-size: 1.3em;

	
 
 }

 .test3 {
	display: none;
	font-family: 'mariolettre';
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	
 
 }

 .menu:hover .test2 {
	display: flex;
	color: white;
	
 }

 .menu:hover .test3 {
	display: flex;
	color: white;
	
 }

 .foot {
	 background: url('https://ih0.redbubble.net/image.188770954.9190/pp,550x550.jpg');
	 width: 100%;
	 height: 200px;
	 bottom: 0%;
	 position: absolute;
 }

 .sun {

	 position:absolute;
	 top: 0%;
	 right: 0%;
	 height: 100px;
	 width: 10%;

 }

