/* background */



body {

height: 100%;
width: 100%;
}

html {
	height: 100%;
	height: 100%;

}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* img */
img {
width: 40%;

border-radius: 50%;

}





/* menu */

p .textaccueil {
	font-size: 12px;
	opacity: 0;

}
.nes-btn:hover p {
	opacity: 1;
}

.facebook {
	
	right: 45%;
	left: 45%;
}


.twitter {
	right: 45%;
	left: 45%;
}

.nes-btn {
	
	word-wrap: break-word;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: red;
	z-index: 100;
	font-size: 20px;
	border: 2px solid black;

}

.yoshi:hover  .nes-btn {
	opacity: 1;
	transition: 1.8s ease-out;
	color: orange;
    font-weight: bold;

	

}




/* border */

.border {
	height: 60px;
	width: 100%;
	background: black;
	opacity: 0.8
}

.rem {
	height: 100px;
}
